 body {
            background-image: url("background.png");
      }
h1 {
    color: rgb("255,255,255")
}
#navtable {
 width: 800px;
 float:none
}
#nav-td 
{width: 200px; text align center;
}
#selfimage {
  float:left
}
#selfimage2 {
 float:right
}
#guitar {
 float:left
}
#piano {
 float:right
}
