 body {
            background-image: url("background.png");
            width:800px;
      }
h1 {
    color: rgb("255,255,255")
}
#navtable {
 width: 800px;
}
#nav-td {
 width: 200px; text align center;
}
#selfimage {
  float:left
  width:400px;
}
#selfimage2 {
 float:left
}
#guitar {
 float:left
}
#piano {
 float:left
}
